html, body {
    background-color: #38DFFA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

/* Hide class */
.hide {
    display: none!important;
}


/* ------ HERO IMG ------ */
.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./img/casino-delfino.jpg) no-repeat center;
    background-size: cover;
    margin-top: -80px;
    padding: 60px 0;
    position: inherit;
}

.content {
    text-align: center;
    max-width: 650px;
    margin: 60px 100px;
    display: inline-block;
}

.content h1 {
    color: #f3eb2d;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content h1 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #fff;
}

.action-button {
    color: #fff;
    background: #f92f00;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}

@media (max-width: 1400px) {
    .hero-image {
        background: none;
        display: none;
    }

    .hero p {
        color: #fff;
    }

    .content {
        text-align: center;
        margin: 10px 10px;
    }
    
    .hero {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./img/casino-delfino.jpg) no-repeat center;
        background-size: cover;
        margin-top: -80px;
        padding: 60px 0;
        position: inherit;
    }
}


/* ------ NAVBAR STYLING ------ */
li, a{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    margin: 0;
    background-color:  rgba(0, 0, 0, 0);
}

.logo {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: auto;
    color: #fff;
}

.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #ff8655;
}

.toggle-button {
    position: absolute;
    top: 1.80rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.drop-down {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.hero-menu-active {
    margin-top: -273.5px;
}

@media (max-width: 730px) {

    .hero-image {
        background: none;
    }

    .toggle-button{
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-links li {
        padding: 15px 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
}


/* ------ AGE MODAL STYLING BELOW ------ */
.modal-container {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    -webkit-transition: opacity 0.6s ease-in;
    -moz-transition: opacity 0.6s ease-in;
    -ms-transition: opacity 0.6s ease-in;
    -o-transition: opacity 0.6s ease-in;
    transition: opacity 0.6s ease-in;
}

.modal-container.load {
    opacity: 1;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    width: 600px;
    max-width: 100%;
    margin-bottom: 65px;
}

.modal h1 {
    color: #f3eb2d;
    text-transform: uppercase;
    margin: 0;
}

.modal p {
    opacity: 0.7;
    font-size: 16px;
}


/* ------ BIRTHDAY INPUT STYLE ------ */
.birthday-input ::-webkit-input-placeholder {
    text-align: center;
    color: #fff;
 }
 
 .birthday-input :-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: #fff;
 }
 
 .birthday-input ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    color: #fff;
 }
 
 .birthday-input :-ms-input-placeholder {  
    text-align: center;
    color: #fff;
 }

.birthday-input input::-webkit-outer-spin-button,
.birthday-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.birthday-input input[type=number] {
    -moz-appearance: textfield;
}

.birthday-input input {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    border-radius: 6px;
    margin: 0;
    text-align: center;
    height: 38px;
    width: 78px;
    font-size: 18px;
    letter-spacing: 1px;
}


.modal .remember-container {
    margin: 15px 0;
}

.modal button {
    background-color: #f92f00;
    border-color: #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}